@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
}

.circle1
{
    display: none;
    scale:0;
}

.circle2{
    display: none;
    scale: 0;
}

.subwrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-bottom: 50px;
}

#background{
    position: absolute;
    width: 100%;
    height:100%;
    z-index:-10;
    margin-top:-40px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    color:white;
    width:85%;
    margin: 0 auto;
    padding-left:50px ;
    padding-right:50px;
    margin-top: 40px;
    border-radius: 30px;
    background: linear-gradient(to right,#343253,#428596);
}

#logo{
    width:150px;

}

.nav-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-left h2{
    font-size: 30px;
}

.nav-right a{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scale(1);
    transition: all 0.7s;
    cursor: pointer;
    text-decoration: none;
    color: white;

} 

.nav-right a:hover{
    transform: scale(1.2);
    transition: all 0.7s;
}


.nav-right{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap:50px;
    flex-wrap: wrap;
}



.card{
    
    /* padding-bottom:100px ; */
    width: 85%;
    padding-bottom: 100px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
}

.sem-card{
    width:35%;
    height: 50%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.138);
    border-radius: 15px;
    border: 2px solid #ffffff30;
    display: flex;
    justify-content: center;
}

.innertext{
    margin: 25px ;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 1fr;
    gap:20px;
    
}

.subheader{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.insem{
    margin-left: 40px;
}

.semheader{
    font-size: 25px;
} 

.insem ul{
    margin: 10px;
    margin-left: 30px;
    font-size: 20px;
    display: flex;
    flex-direction:column ;
    gap: 10px;
}

.insem ul div{
    cursor: pointer;
}

.first-header{
    margin: 0 auto;
    width: 80%;
    margin-top: 25px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family:cursive;
    border-bottom: 0.5px solid white;
}


.modal1
{
    display: flex;
    color: white;
    background-color:rgba(0, 0, 0, 0.667);
    border: 2px solid #ffffff59;
    position: fixed;
    top: 0%;
    left: 10%;
    scale:0;
    z-index:10;
    translate: -50% -50%;
    width:550px;
    height:280px;
    margin:30% 40%;
    border-radius: 20px;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.modal1 div span{
    cursor: pointer;
}

.modal1-active{
    scale:1;
}

.modal2
{
    display: flex;
    color: white;
    background-color:rgba(0, 0, 0, 0.667);
    border: 2px solid #ffffff59;
    position: fixed;
    top: 0%;
    left: 10%;
    scale:0;
    z-index:10;
    translate: -50% -50%;
    width:550px;
    height:280px;
    margin:30% 40%;
    border-radius: 20px;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.modal2 div span{
    cursor: pointer;
}

.modal2-active{
    scale:1;
}

.modal3
{
    display: flex;
    color: white;
    background-color:rgba(0, 0, 0, 0.667);
    border: 2px solid #ffffff59;
    position: fixed;
    top: 0%;
    left: 10%;
    scale:0;
    z-index:10;
    translate: -50% -50%;
    width:550px;
    height:280px;
    margin:30% 40%;
    border-radius: 20px;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.modal3 div span{
    cursor: pointer;
}

.modal3-active{
    scale:1;
}

.modal4
{
    color: white;
    background-color:rgba(0, 0, 0, 0.667);
    border: 2px solid #ffffff59;
    position: fixed;
    top: 0%;
    left: 10%;
    z-index: 10;
    scale: 0;
    translate: -50% -50%;
    width:550px;
    height:280px;
    margin:30% 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.modal4 div span{
    cursor: pointer;
    
}



.modal4-active{
    scale:1;
}

.modal5
{
    color: white;
    background-color:rgba(0, 0, 0, 0.667);
    border: 2px solid #ffffff59;
    position: fixed;
    top: 0%;
    left: 10%;
    z-index: 10;
    scale: 0;
    translate: -50% -50%;
    width:550px;
    height:280px;
    margin:30% 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.modal5 div span{
    cursor: pointer;
}



.modal5-active{
    scale:1;
}

.modal6
{
    color: white;
    background-color:rgba(0, 0, 0, 0.667);
    border: 2px solid #ffffff59;
    position: fixed;
    top: 0%;
    left: 10%;
    z-index: 10;
    scale: 0;
    translate: -50% -50%;
    width:550px;
    height:280px;
    margin:30% 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.modal6 div span{
    cursor: pointer;
}



.modal6-active{
    scale:1;
}



.subject-header{
    margin: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}
.subject-header div{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subject-header span{
    font-size: 20px;
}

.subjects{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    gap:30px;
}

.subjects a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    width:100px;
    height: 30px;
    border: 1px solid white;
    border-radius: 7px;
    transition: all 0.5s;
    cursor: pointer;
}

.subjects a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.5s;
}



.overlay{
    z-index: -1;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: #16161625;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlayactive{
    opacity: 1;
    z-index:1;
}

@media (max-width:400px)
{
    .wrapper{
        background-color: black;
        margin-top: -10px;
        overflow-x: hidden;
        position: relative;
        /* z-index: -10; */
    }
    .navbar{
        width: 95%;
    }

    .circle1{
        position: fixed;
        display: flex;
        scale: 1;
        width:50px;
        height: 50px;
        border-radius: 50%;
        z-index: 3;
        top: 190px;
        left: 50px;
        box-shadow: 0 0 100px #50ffad;
        background: linear-gradient(-25deg, #192e3a, #391849);
        animation: circle1Animate 15s infinite;
    }
    @keyframes circle1Animate {
        50% {
          left: 70%;
          top: 90%;
          scale: 1.11;
        }
      }
      .circle2{
        position: fixed;
        display: flex;
        scale: 1;
        width:50px;
        height: 50px;
        border-radius: 50%;
        z-index: 3;
        right: 70%;
        top: 90%;
        box-shadow: 0 0 100px #47b6ab;
        background: linear-gradient(-25deg, #192e3a, #270d41);
        animation: circle1Animate2 15s infinite;
    }
    @keyframes circle1Animate2 {
        50% {
            top: 190px;
            right: 50px;
          scale: 1.11;
        }
      }

    #logo{
        height:80px;
        width: 80px;
       margin-left: -20px;
    }
    #background{
        display: none;
    }

    .first-header{
        margin-top: 30px;
        font-size:27px;
        margin-bottom: 40px;
    }

    .nav-left h2{
        font-size: 25px;
    }
    .nav-left{
        display: flex;
        align-items: center;
    }
    .nav-right {
        display: none;
    }
    .navbar{
        height:55px;
        display: flex;
        justify-content: center;
        padding: 0 0;
        margin-top: 10px;
    }

    .nav-section{
       padding-top: 20px;
       margin: 0 auto;
    }

    
    .card {

        /* padding-bottom:100px ; */
        width: 260px;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap:30px;
        color: rgb(255, 255, 255);
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
        margin-top: 30px;
    }

    .sem-card {
        width: 260px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.138);
        border-radius: 20px;
        border: 2px solid #ffffff30;
        display: flex;
        justify-content: center;
        z-index: 5;
    }

    .innertext {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        user-select: none;

    }
    .subheader{
        font-size: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }
    
    .insem{

        margin-left: 0px;
        text-align: center;
    }
    
    .semheader{
        margin-top: 15px;
        font-size: 25px;
        text-align: center;
        border-bottom: 1px solid black;

    } 
    
    .insem ul{
        margin: 0px;
        margin-left: 0px;
        margin-top: 25px;
        font-size: 18px;
        gap: 15px;
        text-align: start;
        margin-left: 30px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .insem ul div{
        display: flex;
        align-items: center;
        gap:15px
    }

    .overlay{
        z-index: -5;
    }

    .overlayactive{
        opacity: 1;
        z-index:8;
    }

    .modal{
        position: fixed;
        top:30%;
        width:250px;
        height: 350px;
        box-shadow: 0 0 100px #a5adb151;
    }
    .modal .subjects{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
}


@media (max-width:620px){
    .nav-right {
        display: none;
     }
}

